@font-face {
    font-family: 'HumanSans';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HumanSans-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HumanSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HumanSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HumanSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HumanSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HumanSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 200;
    font-style: oblique;
    font-display: swap;
    src: url('/fonts/HumanSans-ExtraLightOblique.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 300;
    font-style: oblique;
    font-display: swap;
    src: url('/fonts/HumanSans-LightOblique.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 400;
    font-style: oblique;
    font-display: swap;
    src: url('/fonts/HumanSans-RegularOblique.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 500;
    font-style: oblique;
    font-display: swap;
    src: url('/fonts/HumanSans-MediumOblique.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 700;
    font-style: oblique;
    font-display: swap;
    src: url('/fonts/HumanSans-BoldOblique.otf') format('opentype');
}

@font-face {
    font-family: 'HumanSans';
    font-weight: 900;
    font-style: oblique;
    font-display: swap;
    src: url('/fonts/HumanSans-BlackOblique.otf') format('opentype');
}
